<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DemoEntityContext" connectionString="metadata=res://*/DemoEntities.csdl|res://*/DemoEntities.ssdl|res://*/DemoEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VR6HRI3;initial catalog=DemoProject.Database;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>